.about-container {

    .about-bg {
        background-image: url('../images/about-main-banner.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 1021px;
    }

    .mission-container {
        background-color: $grey94;
        padding-top: 66px;
        padding-bottom: 54px;
        position: relative;

        .mission-left-content {
            position: relative;
            max-width: 483px;

            .mission-heading {
                font-size: 44px;
                font-weight: $font600;
                line-height: 51px;
                color: $darkblue;
            }

            .mission-sub-heading {
                font-size: 26px;
                font-weight: $font400;
                line-height: 30px;
                margin-top: 70px;
                color: $darkblue;
            }

            .mission-sub-heading-2 {
                position: relative;
                font-size: 26px;
                font-weight: $font400;
                line-height: 30px;
                color: $darkblue;
                padding-top: 68px;
            }

            .mission-sub-heading-2::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                top: 33px;
                background: linear-gradient(90deg, rgba(153,207,91,1) 0%, rgba(44,200,121,1) 25%, rgba(22,123,142,1) 50%, rgba(47,50,147,1) 75%);

            }

            .mission-para {
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                color: $darkgrey;
                margin-top: 24px;
            }

            .mission-button {
                margin-top: 91px;

                .mission-btn {
                    @include gradiant-btn
                }
            }
        }
        
        .mission-right-content {
            @include media-breakpoint-down(md) {
                height: 400px;
                position: relative;
            }

            .mission-right {
                
                .misson-img {
                    position: absolute;
                    right: 0;
                    top: 45px;
                    width: 35%;
                    @include media-breakpoint-down(md) {
                        width: 75%;
                    }
                }
            }
        }
    }

    .about-detail-container {
        padding-top: 50px;
        padding-bottom: 50px;

        @include media-breakpoint-up(md) {
            padding-top: 202px;
            padding-bottom: 202px;
        }

        .mission-detail-container {
            max-width: 900px;
            margin: 0 auto;

            .mission-1 {
                padding-top: 0;

                &::after {
                    display: none;
                }
            }
        }

        .about-main-heading {
            font-size: 44px;
            font-weight: $font600;
            line-height: 51px;
            color: $blue;
            margin-bottom: 50px;

            @include media-breakpoint-up(md) {
                margin-bottom: 114px;
            }
        }

        .about-detail {
            position: relative;
            display: flex;
            justify-content: space-between;
            padding-top: 88px;

            @include media-breakpoint-down(md) {
                display: block;
                text-align: center;
            }
            

            .about-detail-para {
                max-width: 593px;

                .about-para {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 18px;
                }
                
            }

            .about-heading {
                font-size: 26px;
                font-weight: 400;
                line-height: 30px;
                color: $darkblue;
            }
        }

        .about-detail::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: 63px;
            background: linear-gradient(90deg, rgba(153,207,91,1) 0%, rgba(44,200,121,1) 25%, rgba(22,123,142,1) 50%, rgba(47,50,147,1) 75%);

            @include media-breakpoint-down(md) {
                left: 0;
            }
        }
    }

    .electric-container {
        background-color: $grey94;
        padding: 66px 75px 54px 0;

        @include media-breakpoint-down(md) {
            padding: 40px 0 40px 0;
        }

        .electric-left-content {

            .electric-bg-img {

                .electric-img {
                    width: 100%;
                }
            }
        }

        .electric-right-content {

            @include media-breakpoint-down(md) {
                margin-top: 50px;
            }

            .electric-para {
                font-size: 23px;
                font-weight: $font600;
                line-height: 52px;
                color: $darkblack;

                @include media-breakpoint-up(md) {
                    font-size: 44px;
                }
            }
            
            .writer-name {
                font-style: italic;
                font-size: 26px;
                font-weight: $font400;
                line-height: 30px;
                float: right;
                color: $darkgrey;
                padding: 20px 30px 0 0;
                
                @include media-breakpoint-up(md) {
                    padding: 47px 30px 0 0;
                }
            }
        }
    }


    .chat-container {
        background-color: $white;
        padding-top: 50px;
        padding-bottom: 50px;

        @include media-breakpoint-up(md) {
            padding-top: 151px;
            padding-bottom: 181px;
        }

        .chat-cols {
            &:not(:last-child) {
                .chat-box {
                    margin: 0 auto;

                    @include media-breakpoint-down(md) {
                        margin-bottom: 50px;
                    }
                }
            }
        }

        .chat-box {
            max-width: 201px;
            margin: 0 auto;
            text-align: center;
        }

        .circle {
            width: 118px;
            height: 118px;
            background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            display: grid;
            place-items: center;
            border: none;
            outline: none;
            margin: auto;
        }

        .chat-heading {
            font-size: 26px;
            font-weight: $font400;
            line-height: 30px;
            color: $darkblue;
            margin-top: 48px;
        }

        .chat-para {
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            color: $grey;
            margin-top: 6px;
        }

        .chat-button {
            margin-top: 27px;

            .chat-btn {
                @include gradiant-btn;
                background-color: $darkgrey;
                padding: 6px 35px 6px 35px;
            }
        }
    }
}