.blog-cards-container {
    margin-top: 70px;

    @include media-breakpoint-up(md) {
        margin-top: 148px;
    }

    .blog-box {
        margin-top: 30px;

        @include media-breakpoint-up(md) {
            margin-top: 84px;
        }
    }

    .blog-card {
        max-width: 400px;
        margin: 0 auto;

        > p {
            font-size: 16px;
            font-weight: $font400;
            line-height: 18px;
            margin-top: 21px;
            text-align: center;
            color: $darkgrey;
        }

        .blog-card-img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .img-responsive {
                width: 100%;
                
            }

            .blog-detail {
                position: absolute;
                top: 0;
                text-align: center;
                transform: translateY(50%);
                display: grid;
                place-items: center;
                color: $white;

                .blog-para {
                    font-size: 16px;
                    font-weight: $font400;
                    line-height: 18px;
                    color: $white;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                    
                .blog-heading {
                    font-size: 26px;
                    font-weight: $font400;
                    line-height: 30px;
                    color: $white;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }

    .blog-cols-1 {
        margin-bottom: 50px;
        margin-top: 100px;

        @include media-breakpoint-up(md) {
            margin: 0 auto;
        }
    }
}