.domestic-container {
    
    .domestic-bg {
        background-image: url('../images/domestic-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 1021px;
    }

    .ev-container {
        margin-top: 70px;

        @include media-breakpoint-up(md) {
            margin-top: 112px;
        }

        .ev-heading {
            font-size: 44px;
            font-weight: $font600;
            line-height: 51px;
            color: $darkblue;
            margin-bottom: 46px;
        }
    
        .ev-detail {
            padding: 0;

            @include media-breakpoint-up(md) {
                padding-right: 36px;
            }
            .ev-para-1 {
                font-size: 18px;
                font-weight: $font600;
                line-height: 21px;
                color: $secondary;
            }
        }

        .ev-detail-2 {
            padding: 0;
            margin-top: 30px;
            @include media-breakpoint-up(md) {
                padding-left: 36px;
                margin: 0;
            }

            .ev-para-2 {
                font-size: 18px;
                font-weight: $font400;
                line-height: 21px;
                color: $darkgrey;
            }
        }
    }

    .request-container {
        background-color: $grey94;
        padding-top: 70px;
        padding-bottom: 70px;
        margin-top: 70px;
        
        @include media-breakpoint-up(md) {
            padding-top: 183px;
            padding-bottom: 171px;
            margin-top: 112px;
        }

        .request-left-content {
            padding-right: 0;

            @include media-breakpoint-up(md) {
                padding-right: 40px;
            }

            .request-heading {
                font-size: 44px;
                font-weight: $font600;
                line-height: 51px;
                color: $darkblue;
                margin-bottom: 65px;
            }

            .request-para {
                color: $darkblack;
                font-size: 18px;
                font-weight: $font400;
                line-height: 21px;

                span {
                    color: $darkblue;
                    font-weight: $font500;
                    font-size: 18px;
                    text-decoration: underline;
                }
            }

            .request-button {
                margin-top: 68px;

                @include media-breakpoint-down(md) {
                    margin-bottom: 50px;
                }

                .request-btn {
                    @include gradiant-btn;
                }
            }
        }
    }

    .request-right-content {

        .request-img {
            
            .request-bg-img {
                width: 100%;
                border-radius: 21px;
            }
        }
    }

    .chat-container {
        background-color: $white;
        padding-top: 50px;
        padding-bottom: 50px;

        @include media-breakpoint-up(md) {
            padding-top: 151px;
            padding-bottom: 181px;
        }

        .chat-cols {
            &:not(:last-child) {
                .chat-box {
                    margin: 0 auto;

                    @include media-breakpoint-down(md) {
                        margin-bottom: 50px;
                    }
                }
            }
        }

        .chat-box {
            max-width: 201px;
            margin: 0 auto;
            text-align: center;
        }

        .circle {
            width: 118px;
            height: 118px;
            background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            display: grid;
            place-items: center;
            border: none;
            outline: none;
            margin: auto;
        }

        .chat-heading {
            font-size: 26px;
            font-weight: $font400;
            line-height: 30px;
            color: $darkblue;
            margin-top: 48px;
        }

        .chat-para {
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            color: $grey;
            margin-top: 6px;
        }

        .chat-button {
            margin-top: 27px;

            .chat-btn {
                @include gradiant-btn;
                background-color: $darkgrey;
                padding: 6px 35px 6px 35px;
            }
        }
    }
}