.home-container {

    .home-bg {
        background-image: url('../images/home-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100vh;
    }

    .energy-container{
        margin-top: 310px;

        .energy-heading {
            color: $blue;
            font-size: 44px;
            font-weight: $font600;
            line-height: 52px;
        }

        .energy-para {
            font-size: 18px;
            font-weight: $font400;
            color: $grey;
            margin-top: 68px;
            line-height: 21px;
        }

        .horizental {
            color: $black;
            margin: 43px 0 35px 0;
            border: 1px solid $black;
        }

        .energy-button {
            margin-top: 66px;
            .energy-btn {
                background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
                box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
                border-radius: 50px;
                font-size: 16px;
                font-weight: $font400;
                border: none;
                line-height: 19px;
                outline: none;
                color: $white;
                padding: 10px 25px 10px 25px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .energy-container {
            margin-top: 50px;
        }
    }

    .charger-container {
        background-color: $grey94;
        padding-top: 105px;
        padding-bottom: 85px;
        margin-top: 353px;

        .charge-box {
            max-width: 285px;
            margin: 0 auto;
            text-align: center;

            .charge-heading {
                font-size: 26px;
                font-weight: $font400;
                line-height: 30px;
                color: $darkblue;
            }

            .charge-para {
                font-size: 16px;
                font-weight: $font400;
                line-height: 18px;
                margin-top: 22px;
                color: $darkgrey;
            }

            .charge-button {
                margin-top: 44px;

                .charge-btn {
                    background-color: $white;
                    border-radius: 50px;
                    padding: 10px 24px 10px 24px;
                    color: $grey;
                    font-size: 16px;
                    font-weight: $font400;
                    line-height: 18px;
                }
            }
        }

        @include media-breakpoint-down(md) {
            .charge-box {
                margin-bottom: 50px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .charger-container {
            margin-top: 50px;
        }
    }

    .chat-container {
        background-color: $white;
        padding-top: 151px;
        padding-bottom: 181px;

        .chat-box {
            max-width: 201px;
            margin: 0 auto;
            text-align: center;
        }

        .circle {
            width: 118px;
            height: 118px;
            background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            display: grid;
            place-items: center;
            border: none;
            outline: none;
            margin: auto;
        }

        .chat-heading {
            font-size: 26px;
            font-weight: $font400;
            line-height: 30px;
            color: $darkblue;
            margin-top: 48px;
        }

        .chat-para {
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            color: $grey;
            margin-top: 6px;
        }

        .chat-button {
            margin-top: 27px;

            .chat-btn {
                background-color: $darkgrey;
                color: $white;
                border-radius: 50px;
                padding: 6px 35px 6px 35px;
                outline: none;
                border: none;
            }
        }

        @include media-breakpoint-down(md) {
            .chat-box {
                margin-bottom: 70px;
            }
        }
    }
    @include media-breakpoint-down(md) {
        .chat-container {
            padding-top: 50px; 
            padding-bottom: 0;
        }
    }
}