@mixin gradiant-btn {
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: $white;
    padding: 10px 27px;
    background: $lightgreen;
    font-size: 16px;
    font-weight: $font400;
    line-height: 19px;
    border: 0;
    outline: 0;

    &:hover {
        background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
        color: $white
    }
}

