.grants-container {

    .grants-bg {
        background-image: url('../images/grants-bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 1017px;
    }

    .services-container {
        padding-top: 50px;
        padding-bottom: 50px;
        
        @include media-breakpoint-up(md) {
            padding-top: 236px;
            padding-bottom: 240px;
        }

        .service-main-heading {
            font-size: 44px;
            font-weight: $font600;
            line-height: 51px;
            text-align: center;
            color: $darkblue;
        }

        .services-cols-1 {
            margin-top: 50px;

            @include media-breakpoint-up(md) {
                margin-top: 82px;
            }
        }
        
        .services-cols-2 {
            margin-top: 50px;

            @include media-breakpoint-up(md) {
                margin-top: 65px;
            }
        }

        .service-box-1 {
            padding: 0;
            text-align: center;
            
            @include media-breakpoint-up(md) {
                padding-right: 50px;
            }

            .service-heading {
                font-size: 26px;
                font-weight: $font400;
                line-height: 30px;
                color: $darkblue;
            }
        }

        .service-box-2 {
            padding: 0;
            text-align: center;

            @include media-breakpoint-up(md) {
                padding-left: 50px;
            }

            .service-heading {
                font-size: 26px;
                font-weight: $font400;
                line-height: 30px;
                color: $darkblue;
            }
        }

        .service-button {
            margin-top: 50px;
            text-align: center;

            @include media-breakpoint-up(md) {
                margin-top: 88px;
            }

            .service-btn {
                @include gradiant-btn;
            }
        }
    }
}