//font family
$font-family-primary:  'Roboto', sans-serif;

//fonts
$font100: 100;
$font200: 200;
$font300: 300;
$font400: 400;
$font500: 500;
$font600: 600;
$font700: 700;
$font800: 800;
$font900: 900;

//colors//
$primary: #5A5A5A;
$secondary: #42469C;
$blue: #5659A6;
$grey: #4A4A4A;
$black: #000000;
$white: #ffffff;
$grey94: #F0F0F0;
$darkblue: #2E3292;
$darkgrey: #626262;
$darkblack: #313131;;
$skyblue: #3888FF;
$green: #CCE1A9;
$lightgreen :#99CF5B;
$arsenicgrey: #434343;

