@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap');
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import  "variables";
@import "mixins";
@import "header";
@import "home";
@import "about";
@import "team";
@import "services";
@import "slider";
@import "blog";
@import "domestic";
@import "public";
@import "commercial";
@import "contact";
@import "footer";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    &::after {
        box-sizing: border-box;
    }

    &::before {
        box-sizing: border-box;
    }
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a {
    transition: all 0.3s;
}

.btn {
    transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out,box-shadow .3s ease-in-out
}
