.slider {
    margin-top: 60px;

    .carousel-indicators {
        bottom: -60px;
        align-items: center;

        .slider-btn {
            background-color: $green;
            border-radius: 50%;
            border: 0;
            height: 16px;
            margin-right: 16px;
            width: 16px;

            &.active {
                background-color: $blue;
                background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
                border-radius: 50%;
                border: 0;
                flex-grow: 0;
                height: 20px;
                overflow: hidden;
                width: 20px;
            }
        }
    }

    span {
        i {
            background-color: $white;
            color: $black;
            width: 25px;
            height: 25px;
            display: grid;
            align-items: center;
            border-radius: 50%;
        }
    }

    .carousel-item {

        .slider-effect {
            background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
            opacity: 0.45;
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }

        .slider-img {
            // background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
            // opacity: 0.45;
            border-radius: 6px;

            @include media-breakpoint-down(md) {      
                aspect-ratio: 4/3;
            }
        }


        .carousel-caption {
            top: 28%;

            .slider-caption-1 {
                font-size: 16px;
                font-weight: $font400;
                line-height: 18px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            
            .slider-caption-2 {
                font-size: 26px;
                font-weight: $font400;
                line-height: 30px;
                margin-top: 37px;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }

    .carousel-control-prev {
        width: 0;
        margin-left: 24px;
    }

    .carousel-control-next {
        width: 0;
        margin-right: 24px;
    }
}
