@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
.header .navbar {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.25) 100%);
}
@media (min-width: 768px) {
  .header .navbar {
    padding: 23px 60px 23px 115px;
  }
}
.header .navbar .navbar-logo {
  max-width: 100%;
  width: 190px;
}
.header .navbar .navbar-toggler:focus {
  box-shadow: unset;
}
.header .navbar .nav-item {
  margin-right: 34px;
}
.header .navbar .nav-item .nav-link {
  color: #4A4A4A;
  font-weight: 400;
}
.header .navbar .contact-us-list {
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .header .navbar .contact-us-list {
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.header .navbar .contact-btn {
  background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  color: #ffffff;
  padding: 10px 27px;
}

.home-container .home-bg {
  background-image: url("../images/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1021px;
}
.home-container .energy-container {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .home-container .energy-container {
    margin-top: 310px;
  }
}
.home-container .energy-container .energy-heading {
  color: #5659A6;
  font-size: 35px;
  font-weight: 600;
  line-height: 52px;
}
@media (min-width: 768px) {
  .home-container .energy-container .energy-heading {
    font-size: 44px;
  }
}
.home-container .energy-container .energy-para {
  font-size: 18px;
  font-weight: 400;
  color: #4A4A4A;
  margin-top: 68px;
  line-height: 21px;
}
.home-container .energy-container .horizental {
  color: #000000;
  margin: 43px 0 35px 0;
  border: 1px solid #000000;
}
.home-container .energy-container .energy-button {
  margin-top: 66px;
}
.home-container .energy-container .energy-button .energy-btn {
  background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  line-height: 19px;
  outline: none;
  color: #ffffff;
  padding: 10px 25px 10px 25px;
}
.home-container .charger-container {
  background-color: #F0F0F0;
  padding-top: 105px;
  padding-bottom: 85px;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .home-container .charger-container {
    margin-top: 353px;
  }
}
.home-container .charger-container .charge-cols:not(:last-child) .charge-box {
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .home-container .charger-container .charge-cols:not(:last-child) .charge-box {
    margin-bottom: 50px;
  }
}
.home-container .charger-container .charge-box {
  max-width: 285px;
  margin: 0 auto;
  text-align: center;
}
.home-container .charger-container .charge-box .charge-heading {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #2E3292;
}
.home-container .charger-container .charge-box .charge-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 22px;
  color: #626262;
}
.home-container .charger-container .charge-box .charge-button {
  margin-top: 44px;
}
.home-container .charger-container .charge-box .charge-button .charge-btn {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 10px 24px 10px 24px;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.home-container .chat-container {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .home-container .chat-container {
    padding-top: 151px;
    padding-bottom: 181px;
  }
}
.home-container .chat-container .chat-cols:not(:last-child) .chat-box {
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .home-container .chat-container .chat-cols:not(:last-child) .chat-box {
    margin-bottom: 50px;
  }
}
.home-container .chat-container .chat-box {
  max-width: 201px;
  margin: 0 auto;
  text-align: center;
}
.home-container .chat-container .circle {
  width: 118px;
  height: 118px;
  background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  margin: auto;
}
.home-container .chat-container .chat-heading {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #2E3292;
  margin-top: 48px;
}
.home-container .chat-container .chat-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #4A4A4A;
  margin-top: 6px;
}
.home-container .chat-container .chat-button {
  margin-top: 27px;
}
.home-container .chat-container .chat-button .chat-btn {
  background-color: #626262;
  color: #ffffff;
  border-radius: 50px;
  padding: 6px 35px 6px 35px;
  outline: none;
  border: none;
}

.about-container .about-bg {
  background-image: url("../images/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.about-container .mission-container {
  background-color: #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 66px;
  padding-bottom: 54px;
}
.about-container .mission-container .mission-left-content .mission-heading {
  font-size: 44px;
  font-weight: 600;
  line-height: 51px;
  color: #2E3292;
}
.about-container .mission-container .mission-left-content .mission-sub-heading {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 70px;
  color: #2E3292;
}
.about-container .mission-container .mission-left-content .mission-sub-heading-2 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 35px;
  color: #2E3292;
}
.about-container .mission-container .mission-left-content .mission-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #626262;
  margin-top: 24px;
}
.about-container .mission-container .mission-left-content .mission-button {
  margin-top: 91px;
}
.about-container .mission-container .mission-left-content .mission-button .mission-btn {
  background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  line-height: 19px;
  outline: none;
  color: #ffffff;
  padding: 10px 25px 10px 25px;
}
.about-container .mission-container .mission-right-content .mission-right .misson-img {
  width: 100%;
}
.about-container .about-detail-container {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .about-container .about-detail-container {
    padding-top: 202px;
    padding-bottom: 202px;
  }
}
.about-container .about-detail-container .about-main-heading {
  font-size: 44px;
  font-weight: 600;
  line-height: 51px;
  color: #5659A6;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .about-container .about-detail-container .about-main-heading {
    margin-bottom: 114px;
  }
}
.about-container .about-detail-container .about-cols {
  max-width: 900px;
  margin: 0 auto;
}
.about-container .about-detail-container .about-detail {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.about-container .about-detail-container .about-detail .about-detail::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg, rgb(153, 207, 91) 0%, rgb(44, 200, 121) 25%, rgb(22, 123, 142) 50%, rgb(47, 50, 147) 75%);
}
@media (max-width: 767.98px) {
  .about-container .about-detail-container .about-detail {
    display: block;
    text-align: center;
  }
}
.about-container .about-detail-container .about-detail .about-detail-para {
  max-width: 593px;
}
.about-container .about-detail-container .about-detail .about-detail-para .about-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.about-container .about-detail-container .about-detail .about-heading {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #2E3292;
}
.about-container .electric-container {
  background-color: #F0F0F0;
  padding-top: 66px;
  padding-bottom: 54px;
}
.about-container .electric-container .electric-left-content .electric-bg-img .electric-img {
  width: 100%;
}
.about-container .electric-container .electric-right-content {
  max-width: 928px;
}
.about-container .electric-container .electric-right-content .electric-para {
  font-size: 35px;
  font-weight: 600;
  line-height: 52px;
  color: #313131;
}
@media (min-width: 768px) {
  .about-container .electric-container .electric-right-content .electric-para {
    font-size: 44px;
  }
}
.about-container .electric-container .electric-right-content .writer-name {
  font-style: italic;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  float: none;
  margin: 47px 100px 0 0;
  color: #626262;
}
@media (min-width: 768px) {
  .about-container .electric-container .electric-right-content .writer-name {
    float: right;
  }
}
.about-container .chat-container {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .about-container .chat-container {
    padding-top: 151px;
    padding-bottom: 181px;
  }
}
.about-container .chat-container .chat-cols:not(:last-child) .chat-box {
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .about-container .chat-container .chat-cols:not(:last-child) .chat-box {
    margin-bottom: 50px;
  }
}
.about-container .chat-container .chat-box {
  max-width: 201px;
  margin: 0 auto;
  text-align: center;
}
.about-container .chat-container .circle {
  width: 118px;
  height: 118px;
  background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  margin: auto;
}
.about-container .chat-container .chat-heading {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #2E3292;
  margin-top: 48px;
}
.about-container .chat-container .chat-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #4A4A4A;
  margin-top: 6px;
}
.about-container .chat-container .chat-button {
  margin-top: 27px;
}
.about-container .chat-container .chat-button .chat-btn {
  background-color: #626262;
  color: #ffffff;
  border-radius: 50px;
  padding: 6px 35px 6px 35px;
  outline: none;
  border: none;
}

.footer {
  background-color: #4A4A4A;
  padding: 49px 15px 33px 15px;
  background-image: url(../images/footer-bg-logo.png);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .footer {
    padding: 49px 100px 33px 100px;
  }
}
.footer .footer-logo-container .footer-logo-v {
  width: 94px;
}
.footer .footer-logo-container .footer-logo {
  margin-left: -18px;
}
.footer .footer-links {
  display: flex;
  color: #ffffff;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .footer .footer-links {
    justify-content: space-around;
  }
}
@media (max-width: 767.98px) {
  .footer .footer-links .page-links {
    flex-basis: 50%;
  }
}
.footer .footer-links .link-heading {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}
.footer .footer-links .footer-list {
  list-style: none;
  padding-left: 0;
}
.footer .footer-links .footer-list li {
  margin-bottom: 6px;
}
.footer .footer-links .footer-list .footer-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.footer .footer-links .footer-list .footer-link:hover {
  color: #13C682;
}
.footer .social-copy-section {
  margin-top: 55px;
}
.footer .social-copy-section .copy-content {
  color: #ffffff;
  font-size: 12px;
  line-height: 14.06px;
  font-weight: 400;
  margin-bottom: 0;
}
.footer .social-copy-section .copy-content a {
  color: #ffffff;
}
.footer .social-copy-section .social-links {
  display: flex;
  grid-column-gap: 22px;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer .social-copy-section .social-links {
    justify-content: flex-end;
  }
}
.footer .social-copy-section .social-links figure {
  margin-bottom: 0;
  width: 30px;
  height: 30px;
  background: #2F2F2F;
  display: grid;
  border-radius: 50%;
  place-items: center;
}
.footer .social-copy-section .social-links a:nth-child(2) figure {
  background: #ffffff;
}

.card-container {
  background-color: #F0F0F0;
}
.card-container .team-container {
  padding-top: 122px;
  padding-bottom: 298px;
}
.card-container .team-container .card-detail .card-main-heading {
  font-size: 44px;
  font-weight: 600;
  line-height: 51px;
  color: #2E3292;
}
.card-container .team-container .card-detail .team-horizental {
  max-width: 466px;
  border: 1px solid;
  margin-top: 25px;
  border: 1px solid;
  background: linear-gradient(90deg, #98CE5A 5.13%, #73CE5A 23.07%, #69CD5E 27.55%, #4FCA69 35.62%, #25C77B 45.48%, #00C48B 53.55%, #0B9E8C 59.83%, #17778E 67%, #215890 74.17%, #284291 81.35%, #2C3591 88.52%, #2E3192 94.8%);
}
.card-container .cards {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  max-width: 295px;
  padding: 17px 17px 17px 17px;
  margin-top: 40px;
}
.card-container .cards .card-heading {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 17px;
}
.card-container .cards .card-para {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  font-style: italic;
  margin-top: 10px;
}

.grants-container .grants-bg {
  background-image: url("../images/grants-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.grants-container .services-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  .grants-container .services-container {
    padding-top: 236px;
    padding-bottom: 240px;
  }
}
.grants-container .services-container .service-main-heading {
  font-size: 44px;
  font-weight: 600;
  line-height: 51px;
  text-align: center;
  color: #2E3292;
}
.grants-container .services-container .services-cols-1 {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .grants-container .services-container .services-cols-1 {
    margin-top: 82px;
  }
}
.grants-container .services-container .services-cols-2 {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .grants-container .services-container .services-cols-2 {
    margin-top: 65px;
  }
}
.grants-container .services-container .service-box {
  text-align: center;
  max-width: 500px;
}
.grants-container .services-container .service-box .service-heading {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #2E3292;
}
.grants-container .services-container .service-button {
  margin-top: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .grants-container .services-container .service-button {
    margin-top: 88px;
  }
}
.grants-container .services-container .service-button .service-btn {
  background: linear-gradient(59.99deg, #99CF5B -2.9%, #2CC879 30.02%, #167B8E 67.49%, #2F3293 104.48%);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 8px 25px;
  outline: none;
  border: none;
}

.slider {
  margin-top: 60px;
}
.slider .carousel-indicators .slider-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.slider span i {
  background-color: #ffffff;
  color: #000000;
  width: 25px;
  height: 25px;
  display: grid;
  align-items: center;
  border-radius: 50%;
}

.blog-cards-container {
  margin-top: 70px;
}
@media (min-width: 768px) {
  .blog-cards-container {
    margin-top: 148px;
  }
}
.blog-cards-container .blog-box {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .blog-cards-container .blog-box {
    margin-top: 84px;
  }
}
.blog-cards-container .blog-card {
  max-width: 400px;
  margin: 0 auto;
}
.blog-cards-container .blog-card > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 21px;
  text-align: center;
  color: #626262;
}
.blog-cards-container .blog-card .blog-card-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-cards-container .blog-card .blog-card-img .img-responsive {
  width: 100%;
}
.blog-cards-container .blog-card .blog-card-img .blog-detail {
  position: absolute;
  top: 0;
  text-align: center;
  transform: translateY(50%);
  display: grid;
  place-items: center;
  color: #ffffff;
}
.blog-cards-container .blog-card .blog-card-img .blog-detail .blog-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}
.blog-cards-container .blog-card .blog-card-img .blog-detail .blog-heading {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}

.domestic-container {
  margin-top: 112px;
}
.domestic-container .domestic-bg {
  background-image: url("../images/domestic-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  transition: all 0.3s;
}

/*# sourceMappingURL=style.css.map */
